{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <!-- NEW CARD -->
      <div class="col-sm">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal">
          +
        </button>
        <a href="{% url 'todo' %}">
          <h1>Todo List</h1>
        </a>

        <!-- PROFILE OPTIONS-->
        {% if user.is_authenticated %}

          Welcome, {{ user.get_username }}
          <a href="{% url 'logout'%}?next={{request.path}}">
            <button type="button" class="btn btn-primary btn-lg">Logout</button>
          </a>

        {% else %}
          <a href="{% url 'login'%}?next={{request.path}}">
            <button type="button" class="btn btn-primary btn-lg">Login</button>
          </a>
        {% endif %}
      </div>
    </div>
  </div>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-info">
    <strong>{{message}}</strong>
  </div>
  {% endfor %}
  {% endif %}

  {% block content %}
  {% endblock %}

</body>

</html>