{% extends 'todo/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="row">

  <!--Cards list-->
  {% for i in list %}
  <div class="col-md-3">
    <div class="card control-label">
      <center><b class="control-label">{{i.title}}</b></center>
      <hr />
      {{i.details}}
      <br />
      <br />
      <form action="/del/{{i.id}}" method="POST" style=" padding-right: 4%; padding-bottom: 3%;">
        {% csrf_token %}
        <button value="remove" type="submit" class="btn btn-primary" style="float: right;"><span
            class="glyphicon glyphicon-trash"></span> &nbsp; Remove</button>
      </form>
    </div>
  </div>
  {% endfor%}


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title control-label" id="exampleModalLabel"><b>New Card</b></h4>
        </div>
        <div class="modal-body">
          <!-- Form -->
          <form method="POST">
            {% csrf_token %}
            {{forms|crispy}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Submit" />
          </form>
          <!-- Form End-->
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}