body
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;

    overflow: hidden;

    color: #fff;
    background: #000;

    -webkit-font-smoothing: antialiased;
}

.card {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5),
                0 6px 20px 0 rgba(0,0,0,0.39);
    background: #00bd9dbd;
    margin-bottom : 5%;
    border-radius: 10px;
    padding : 2%;
    overflow: auto;
    resize: both;
    text-overflow: ellipsis;
   }
   .card:hover{
     background: #00bd9de8;
   }
 
   .submit_form{
 
     text-align: center;
     padding: 3%;
     background: #c2bfc48e;
     border-radius: 10px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4),
                 0 6px 20px 0 rgba(0,0,0,0.36);
   }

textarea {
    margin: 0;
    font: inherit;
    background: #FFFBFA;
    border-radius: 10px;
}

.background-img
{
    position: absolute;
    background-position: 0 0 ; 
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}